* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para requerimiento 1 */
.rec-1{
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para requerimiento 2: */
.rec-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

.rec-2 > h2 {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

.rec-2 > article {
    gap: 14em;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticker {
    width: 11em;
    height: 13em;
    padding: 1em;

}

.input-number {
    padding: 1em;
}

button {
    font-size: 20px;
    padding: 0.5em;
    background-color: #95b1e5;
    border-radius: 5px;

}

/* Estilos para requerimiento 3: */
.rec-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 0.5em;
}

select{
    font-size: 18px;
    width: 3em;
    text-align: center;
}

